body {
    background: #f2f2f2;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #2e3b4e;
    margin-bottom: 30px;
  }
  
  h2, h3, h4 {
    color: #4a708b;
    margin-top: 10px;
  }

  .son {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-right: 10%;
    margin-bottom: 10px;
  }
  
  .title-son {
    margin-left: 20px;
  }

  .container {
    max-width: 500px;
    margin: 20px auto;
    background: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .radio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 10px;
    max-width: 400px;
    margin: 0 auto;
  }
  

  button, .dash-button {
    padding: 10px 20px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 70%;
  }

  button:hover, .dash-button:hover {
    background-color: #e67600;
  }
  

  